<html xmlns="http://www.thymeleaf.org">

<head th:replace="base :: head('Usuários')"></head>

<body>
	<nav th:replace="base :: menu_nav"></nav>
	<div class="container">
		<h2>Usuários</h2>
		<form class="container" action="#" th:action="@{/usuario/save}" th:object="${usuario}" method="post">
			<div class="row mb-2">
				<label for="id">Id</label>
				<div class="col sm">
					<input type="text" th:field="*{id}" readonly />
				</div>
			</div>
			<div class="row mb-2">
				<label for="username">Nome</label>
				<div class="col sm">
					<input type="text" th:field="*{username}" required />
				</div>
			</div>
			<div class="row mb-2">
				<label for="perfil">Perfil</label>
				<div class="col sm">
					<select th:field="*{perfil}" required>
						<option value="">Selecione</option>
						<option th:each="perfil : ${perfis}" th:text="${perfil.nome}" th:value="${perfil.id}"></option>
					</select>
				</div>
			</div>
			<div class="row mb-2">
				<label for="password">Senha</label>
				<div class="col sm">
					<input type="text" id="txtPassword" />
					<input type="text" th:field="*{password}" hidden />
				</div>
			</div>
			<input type="button" id="btnSalvar" value="Salvar" />
			<input type="submit" id="btnSubmit" value="" hidden />
		</form>
		<table class="table">
			<thead>
				<td>Id</td>
				<td>Nome</td>
				<td>Perfil</td>
				<td>Opções</td>
			</thead>
			<tbody>
				<tr th:each="usuario : ${usuarios}">
					<td th:text="${usuario.id}"></td>
					<td th:text="${usuario.username}"></td>
					<td th:text="${usuario.perfil.nome}"></td>
					<td>
						<a th:href="@{/usuario/edit?id=}+${usuario.id}">
							<input class="btn btn-warning btn-sm" type="button" value="Edit" />
						</a>
						<a th:href="@{/usuario/remove?id=}+${usuario.id}">
							<input class="btn btn-danger btn-sm" type="button" value="Remove">
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script th:replace="base :: bootstrap_js"></script>
</body>
<script type="text/javascript">
	$('#btnSalvar').click(function () {
		var textPassword = $("#txtPassword").val();
		if (textPassword != "") {
			$("#password").val(textPassword);
		}
		$("#btnSubmit").click();
	});
</script>

</html>