<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: head('Permissões')"></head>

<body>
	<nav th:replace="base :: menu_nav"></nav>
	<div class="container">
		<h2>Permissões</h2>
		<form class="container" action="#" th:action="@{/permissao/save}" th:object="${permissao}" method="post">
			<div class="row mb-2">
				<label for="id">Id</label>
				<div class="col sm">
					<input type="text" th:field="*{id}" th:value="*{id}" readonly />
				</div>
			</div>
			<div class="row mb-2">
				<label for="nome">Nome</label>
				<div class="col sm">
					<input type="text" th:field="*{nome}" th:value="*{nome}" required />
				</div>
			</div>
			<div class="row mb-2">
				<label for="descricao">Descrição</label>
				<div class="col sm">
					<input type="text" th:field="*{descricao}" th:value="*{descricao}" />
				</div>
			</div>

			<p><input type="submit" value="Salvar" /></p>
		</form>
		<table class="table">
			<thead>
				<td>Id</td>
				<td>Nome</td>
				<td>Descrição</td>
			</thead>
			<tbody>
				<tr th:each="permissao: ${permissoes}">
					<td th:text="${permissao.id}"></td>
					<td th:text="${permissao.nome}"></td>
					<td th:text="${permissao.descricao}"></td>
					<td>
						<a th:href="@{/permissao/edit?id=}+${permissao.id}">
							<input class="btn btn-warning btn-sm" type="button" value="Edit" />
						</a>
						<a th:href="@{/permissao/remove?id=}+${permissao.id}">
							<input class="btn btn-danger btn-sm" type="button" value="Remove" />
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script th:replace="base :: bootstrap_js"></script>
</body>

</html>