<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head th:replace="base :: head('Categorias')"></head>

<body>
    <nav th:replace="base :: menu_nav"></nav>
    <div class="container">
        <h2>Categorias</h2>
        <form class="container" action="#" th:action="@{/categoria/save}" th:object="${categoria}" method="post">
            <div class="row mb-2">
                <label for="id">Id</label>
                <div class="col sm">
                    <input type="text" th:field="*{id}" readonly>
                </div>
            </div>
            <div class="row mb-2">
                <label for="nome">Nome</label>
                <div class="col sm">
                    <input type="text" th:field="*{nome}" required>
                </div>
            </div>
            <input type="submit" value="Salvar">
        </form>
        <table class="table">
            <thead>
                <td>Id</td>
                <td>Nome</td>
                <td>Opções</td>
            </thead>
            <tbody>
                <tr th:each="categoria : ${categorias}">
                    <td th:text="${categoria.id}"></td>
                    <td th:text="${categoria.nome}"></td>
                    <td>
                        <a th:href="@{/categoria/edit?id=}+${categoria.id}">
                            <input class="btn btn-warning btn-sm" type="button" value="Edit">
                        </a>
                        <a th:href="@{/categoria/remove?id=}+${categoria.id}">
                            <input class="btn btn-danger btn-sm" type="button" value="Remove">
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script th:replace="base :: bootstrap_js"></script>
</body>

</html>