<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: head('Produtos')"></head>

<body>
	<nav th:replace="base :: menu_nav"></nav>
	<div class="container">
		<h2>Produtos</h2>
		<form class="container" action="#" th:action="@{/produto/save}" th:object="${produto}" method="post">
			<div class="row mb-2">
				<label for="id">Id</label>
				<div class="col sm">
					<input type="text" th:field="*{id}" th:value="*{id}" readonly />
				</div>
			</div>
			<div class="row mb-2">
				<label for="id">Nome</label>
				<div class="col sm">
					<input type="text" th:field="*{nome}" th:value="*{nome}" required />
				</div>
			</div>
			<div class="row mb-2">
				<label for="id">Quantidade</label>
				<div class="col sm">
					<input type="text" th:field="*{quantidade}" th:value="*{quantidade}" required />
				</div>
			</div>
			<div class="row mb-2">
				<label for="id">Valor</label>
				<div class="col sm">
					<input type="text" th:field="*{valor}" th:value="*{valor}" required />
				</div>
			</div>
			<div class="row mb-2">
				<label for="id">Categoria</label>
				<div class="col sm">
					<select th:field="*{categoria}" required>
						<option value="">Selecione</option>
						<option th:each="categoria : ${categorias}" th:text="${categoria.nome}"
							th:value="${categoria.id}">
						</option>
					</select>
				</div>
			</div>
			<input type="submit" value="Salvar" />
		</form>
		<br>
		<table class="table">
			<thead>
				<td>Id</td>
				<td>Nome</td>
				<td>Quantidade</td>
				<td>Valor</td>
				<td>Categoria</td>
				<td>Opções</td>
			</thead>
			<tbody>
				<tr th:each="produto : ${produtos}">
					<td th:text="${produto.id}"></td>
					<td th:text="${produto.nome}"></td>
					<td th:text="${produto.quantidade}"></td>
					<td th:text="${produto.valor}"></td>
					<td th:text="${produto.categoria.nome}"></td>
					<td>
						<a th:href="@{/produto/edit?id=}+${produto.id}">
							<input class="btn btn-warning btn-sm" type="button" value="Edit" />
						</a>
						<a th:href="@{/produto/remove?id=}+${produto.id}">
							<input class="btn btn-danger btn-sm" type="button" value="Remove" />
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script th:replace="base :: bootstrap_js"></script>
</body>

</html>