<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: head('Perfis')"></head>

<body>
	<nav th:replace="base :: menu_nav"></nav>
	<div class="container">
		<h2>Perfis</h2>
		<form class="container" action="#" th:action="@{/perfil/save}" th:object="${perfil}" method="post">
			<div class="row mb-2">
				<label for="id">Id</label>
				<div class="col sm">
					<input type="text" th:field="*{id}" th:value="*{id}" readonly />
				</div>
			</div>
			<div class="row mb-2">
				<label for="nome">Nome</label>
				<div class="col sm">
					<input type="text" th:field="*{nome}" th:value="*{nome}" required />
				</div>
			</div>
			<span>Permissões</span>
			<div class="form-check" th:each="permissao: ${permissoes}">
				<input class="form-check-input" th:field="*{permissoes}" type="checkbox" th:text="${permissao.nome}"
					th:value="${permissao.id}" />
			</div>
			<input type="submit" value="Salvar" />
		</form>
		<br>
		<table class="table">
			<thead>
				<td>Id</td>
				<td>Nome</td>
				<td>Opções</td>
			</thead>
			<tbody>
				<tr th:each="perfil: ${perfis}">
					<td th:text="${perfil.id}"></td>
					<td th:text="${perfil.nome}"></td>
					<td>
						<a th:href="@{/perfil/edit?id=}+${perfil.id}">
							<input class="btn btn-warning btn-sm" type="button" value="Edit" />
						</a>
						<a th:href="@{/perfil/remove?id=}+${perfil.id}">
							<input class="btn btn-danger btn-sm" type="button" value="Remove" />
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script th:replace="base :: bootstrap_js"></script>
</body>

</html>